@import '../../variables';

.event {
  margin-top: 4px;
  border: none;
  border-radius: 8px;
  height: 32px;
  padding: 2px 6px;
  display: flex;
  flex-direction: row;
  background: $lightGray;
  align-items: center;
  cursor: pointer;
}

.eventStar {
  margin-right: 5px;
}
.created{
background: $red;
}
.dot {
  content:'';
  height: 8px;
  width: 8px;
  background-color: $red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}


