@import '../../variables';

.passwordContainer {
  width: 600px;
  height: 510px;
  border-radius: 64px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 130px;
  position: relative;
}
.closeBtn {
  top: 40px;
  left: 520px;
  position: absolute;
}