@import '../../variables';

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  border: none;
}

.dropdown {
  align-items: center;
  padding: 18px 16px;
  border: 1px solid $gray;
  border-radius: 12px;
  width: 169px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.dropdownBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdownExpanded {
  margin-top: 8px;
  border: 1px solid rgb(179, 179, 188);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 240px;
  right: 55px;
  width: 346px;
  padding: 32px 16px 40px 16px;
  z-index: 1;
}
