@import '../../variables';

.addPhotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.uploadBox {
  width: 580px;
  height: 170px;
  background-color: $white;
  border: 2px dashed $gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.uploadLabel {
  color: #888;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.uploadedImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}
