@import '../../variables';

.eventDescriptionContainer {
  width: 1075px;
  height: 934px;
  display: flex;
  flex-direction: column;
  padding: 90px 64px 126px;
  justify-content: space-between;
  align-items: center;
}

.eventDescriptionUpper {
  width: 947px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventDescriptionText {
  width: 703px;
}

.eventParticipants {
  align-self: flex-start;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closeBtn {
  top: 40px;
  left: 995px;
  position: absolute;
}